@model Employee.Models.DataFromViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasualBalance" class="control-label"></label>
                <input asp-for="CasualBalance" class="form-control" />
                <span asp-validation-for="CasualBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasualUsed" class="control-label"></label>
                <input asp-for="CasualUsed" class="form-control" />
                <span asp-validation-for="CasualUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedualBalance" class="control-label"></label>
                <input asp-for="SchedualBalance" class="form-control" />
                <span asp-validation-for="SchedualBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedualUsed" class="control-label"></label>
                <input asp-for="SchedualUsed" class="form-control" />
                <span asp-validation-for="SchedualUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
